.App{
  padding:250px;
}
.image-box{
  display: inline-block;
  cursor: pointer;
  width: 150px; 
  height:150px;
  margin: 15px;
  border: 1px solid #aaaaaa;
  background-color: white;
  z-index: 5;
}
#draft{
  width: 300px;
  height: 300px;
  background-color: #aaaaaa;
  opacity: 30%;
}
